<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Email Confirmation</title>
		<!-- <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/> -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- <link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500&display=swap"
			rel="stylesheet"
		/> -->

		<style>
			*,
			*::before,
			*::after {
				box-sizing: border-box;
			}
			* {
				margin: 0;
				padding: 0;
			}
			html,
			body {
				height: 100%;
			}

			body {
				line-height: 1.4;
				-webkit-font-smoothing: antialiased;
				font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
					Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}

			svg {
				display: block;
				max-width: 100%;
			}

			p {
				overflow-wrap: break-word;
			}
			button {
				background-color: #3baf75;
				color: #ffffff;
				border-radius: 12px 12px 12px 12px;
				border: none;
			}

			a {
				text-decoration: none;
				color: inherit;
			}

			#root,
			#__next {
				isolation: isolate;
			}

			/* remove this style */

			.main {
				height: 100vh;
				display: flex;
				align-items: center;
			}
		</style>
	</head>
	<body
		class="main"
		style="
			background-color: #f9f9f9;
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		"
	>
		<table
			style="
				background-color: #ffffff;
				border-radius: 20px;
				font-size: 14px;
				max-width: 400px;
				width: 100%;
			"
			align="center"
			cellpadding="0"
			cellspacing="0"
		>
			<tbody style="width: 100%">
				<tr>
					<td>
						<table style="width: 100%" cellpadding="0" cellspacing="0">
							<tbody style="width: 100%">
								<tr>
									<td style="padding-top: 50px">
										<img
											src="https://res.cloudinary.com/drsmthztm/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1702474927/Suite_Mates_Logo2_e1gow7.jpg?_s=public-apps"
											alt=""
											style="
												height: 35px;
												margin: 0 auto;
												width: 30px;
												display: block;
											"
										/>
									</td>
								</tr>

								<tr>
									<td>
										<table
											style="
												margin-top: 24px;
												color: #333333;
												font-size: 14px;
												line-height: 22px;
												width: 100%;
											"
											cellpadding="0"
											cellspacing="0"
										>
											<tbody>
												<tr>
													<td
														style="
															text-align: center;
															font-weight: 500;
															font-size: 20px;
															padding-top: 16px;
														"
													>
														<p>Welcome to <%= space_name  %> 👋🏾</p>
													</td>
												</tr>

												<tr style="padding: 0">
													<td
														style="
															text-align: center;
															font-weight: 300;
															padding-top: 24px;
														"
													>
														<p style="max-width: 60%; margin: 0 auto">
															Hello, <%= name %> Thank you for signing
															up to SuiteMates. Please tap the button
															below to confirm your email address
														</p>
													</td>
												</tr>

												<tr>
													<td
														style="
															text-align: center;
															padding-top: 40px;
														"
													>
														<a
															href="<%= confirmation_url %>"
															style="
																max-width: 160px;
																padding: 16px 0;
																height: 50px;
																cursor: pointer;
																border: none;
																background-color: #3baf75;
																color: #fff;
																border-radius: 6px;
																display: block;
																width: 100%;
																margin: 0 auto;
																line-height: 1;
															"
														>
															Confirm my email
														</a>
													</td>
												</tr>

												<tr>
													<td style="text-align: center">
														<hr style="margin-top: 35px" />
													</td>
												</tr>

												<tr>
													<td
														style="
															text-align: center;
															font-weight: 300;
															width: 300px;
														"
													>
														<p
															style="
																margin-top: 35px;
																margin-bottom: 35px;
															"
															class="note"
														>
															If you did not request this email you
															can safely ignore it.
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>

							<tfoot
								style="background-color: #3baf75; color: #ffffff; font-weight: 600"
							>
								<tr>
									<td>
										<table
											align="center"
											style="margin: 0 auto; margin-top: 24px; width: 100%"
											cellpadding="0"
											cellspacing="0"
										>
											<tr>
												<td
													align="center"
													style="text-align: center; padding-bottom: 24px"
												>
													<p
														style="
															max-width: 270px;
															font-weight: 300;
															margin: 0 auto;
														"
														class="address"
													>
														(c) SuiteMates | 252 20th st, San Francisco,
														CA 94107
													</p>
												</td>
											</tr>

											<tr>
												<td
													align="center"
													style="text-align: center; font-weight: 300"
												>
													<a href="#" style="color: #ffffff">
														Privacy Policy
													</a>
												</td>
											</tr>

											<tr>
												<td
													align="center"
													style="
														color: #3baf75;
														font-size: 14px;
														font-weight: 400;
														line-height: 18px;
														padding-bottom: 24px;
													"
												>
													<br />
													<p
														style="
															margin: 0;
															text-align: center;
															color: #ffffff;
														"
													>
														<a
															href="#"
															target="_blank"
															rel="noreferrer noopener"
															style="
																display: inline-block;
																margin: 0 5px;
															"
														>
															<svg
																xmlns="http://www.w3.org/2000/svg"
																width="32"
																height="32"
																viewBox="0 0 32 32"
																fill="none"
															>
																<path
																	fill-rule="evenodd"
																	clip-rule="evenodd"
																	d="M25.3519 28.3625C24.7933 28.5804 23.9533 28.8377 22.4071 28.908C20.7357 28.9853 20.2334 29 16.0004 29C11.7658 29 11.2636 28.9845 9.59215 28.908C8.04592 28.8377 7.20596 28.5804 6.64728 28.3625C5.90701 28.0743 5.37846 27.7312 4.82364 27.1764C4.26882 26.6215 3.92573 26.0938 3.6375 25.3535C3.42114 24.7948 3.16227 23.9549 3.09195 22.4086C3.01545 20.7357 3 20.2334 3 16.0004C3 11.7658 3.01545 11.2651 3.09195 9.59215C3.16227 8.04592 3.41959 7.20596 3.6375 6.64728C3.92573 5.90701 4.26805 5.37846 4.82364 4.82364C5.37923 4.26882 5.90701 3.92418 6.64728 3.6375C7.20751 3.42114 8.04592 3.16227 9.59215 3.09195C11.2651 3.017 11.7658 3 16.0004 3C20.2334 3 20.7357 3.01545 22.4079 3.09195C23.9541 3.16227 24.794 3.41959 25.3527 3.6375C26.0938 3.92418 26.6215 4.26882 27.1764 4.82364C27.7304 5.38 28.0743 5.90778 28.3625 6.64805C28.5789 7.20828 28.8377 8.04669 28.908 9.59292C28.983 11.2659 29 11.7666 29 16.0012C29 20.2357 28.9845 20.7372 28.9073 22.4086C28.837 23.9549 28.5796 24.7948 28.3617 25.3535C28.075 26.0938 27.7312 26.6215 27.1756 27.1764C26.62 27.7312 26.0922 28.0743 25.3519 28.3625ZM19.3589 10V10.0029C19.3589 10.0058 19.2925 10.0168 19.1596 10.0361C19.0268 10.0553 18.8632 10.0962 18.6691 10.1587C18.4749 10.2212 18.2628 10.3126 18.0329 10.4329C17.803 10.5531 17.5986 10.6902 17.4197 10.8441C17.2409 10.998 17.0953 11.1471 16.9829 11.2913C16.8705 11.4356 16.7795 11.564 16.71 11.6766C16.6415 11.7901 16.5715 11.9406 16.5 12.1282C16.4285 12.3158 16.3748 12.5009 16.339 12.6837C16.3033 12.8664 16.2854 13.066 16.2854 13.2825C16.2854 13.4989 16.2956 13.6672 16.3161 13.7875L16.3467 13.9678L16.3513 13.9895L16.3544 14.0111L16.2471 14.0082C16.1755 14.0053 16.0427 13.9943 15.8485 13.975C15.6544 13.9558 15.3656 13.9125 14.9824 13.8452C14.5992 13.7778 14.3284 13.7225 14.17 13.6792C14.0116 13.636 13.7357 13.5446 13.3422 13.4051C12.9488 13.2656 12.5809 13.1093 12.2385 12.9362C11.8962 12.763 11.5845 12.5875 11.3034 12.4095C11.0224 12.2316 10.795 12.0753 10.6213 11.9406C10.4476 11.806 10.3454 11.7208 10.3147 11.6852C10.284 11.6487 10.2585 11.6266 10.2381 11.6189C10.2176 11.6121 10.1129 11.5198 9.92381 11.3418C9.73475 11.1639 9.57124 11.0028 9.43327 10.8585L9.22633 10.6421L9.22328 10.6377L9.21867 10.6349L9.211 10.6204L9.20334 10.606L9.19874 10.6031L9.19567 10.5988L9.19262 10.5945L9.18801 10.5916L9.18341 10.5887L9.18034 10.5844L9.17729 10.58L9.17268 10.5771L9.16808 10.58L9.16501 10.5844L9.16196 10.5887L9.15735 10.5916L9.14968 10.6132L9.14202 10.6349L9.01172 10.909C8.92487 11.0918 8.85843 11.2649 8.81244 11.4284C8.76646 11.5919 8.7358 11.7386 8.72047 11.8685C8.70514 11.9983 8.70004 12.1546 8.70514 12.3374C8.71026 12.5202 8.73325 12.7053 8.77412 12.8929C8.815 13.0805 8.87479 13.2666 8.95347 13.4513C9.03318 13.6369 9.10882 13.7899 9.18034 13.9101C9.25139 14.0297 9.33346 14.1431 9.42561 14.2492C9.51758 14.355 9.60956 14.456 9.70153 14.5522C9.79351 14.6484 9.88139 14.7267 9.96519 14.7873C10.05 14.847 10.094 14.8778 10.097 14.8797L10.1001 14.884L10.1154 14.8912L10.1307 14.8984L10.1338 14.9028L10.1384 14.9057L10.143 14.9085L10.1461 14.9129L10.1614 14.9201L10.1767 14.9273L10.1798 14.9316L10.1844 14.9345L10.189 14.9374L10.1921 14.9417L10.1951 14.9461L10.1997 14.9489L10.2043 14.9518L10.2074 14.9562H10.0694L10.0005 14.9489C9.95446 14.9441 9.81396 14.9177 9.5789 14.8696C9.34386 14.8215 9.14714 14.7638 8.98873 14.6964L8.75113 14.5954L8.7358 14.5882L8.72047 14.581L8.70514 14.5738L8.68981 14.5666L8.67448 14.5623L8.65915 14.5594L8.68676 14.8624C8.70419 15.0647 8.74113 15.2651 8.79711 15.4612C8.85333 15.6583 8.93764 15.8651 9.05005 16.0816C9.16247 16.298 9.29021 16.488 9.43327 16.6515C9.57636 16.815 9.70766 16.9487 9.82723 17.0526C9.94721 17.1551 10.0742 17.25 10.2074 17.3368C10.3403 17.4234 10.5191 17.5124 10.7439 17.6038C10.9687 17.6951 11.1067 17.7481 11.1578 17.7625C11.2089 17.7769 11.2447 17.7865 11.2651 17.7913L11.2958 17.7986L11.3264 17.8058L11.3571 17.813L11.3877 17.8202L11.4184 17.8274L11.4153 17.8317L11.4107 17.8346L11.4061 17.8375L11.4031 17.8418L11.3647 17.8491L11.3264 17.8563L11.2958 17.8635C11.2753 17.8683 11.2191 17.8779 11.1271 17.8923C11.0352 17.9068 10.8691 17.9164 10.6289 17.9212C10.3888 17.926 10.2125 17.9212 10.1001 17.9068L9.93147 17.8851L9.90848 17.8808L9.88548 17.8779L9.88855 17.8923L9.89315 17.9068L9.90081 17.9284L9.90848 17.9501L10.0357 18.2127C10.1195 18.3887 10.2074 18.544 10.2994 18.6787C10.3913 18.8134 10.4997 18.9447 10.6243 19.0726C10.75 19.1996 10.8522 19.2977 10.9309 19.3669C11.0106 19.4371 11.1399 19.5252 11.3188 19.631C11.4976 19.7368 11.6816 19.8282 11.8706 19.9051C12.0597 19.9821 12.236 20.0398 12.3995 20.0782C12.563 20.1167 12.683 20.1384 12.7597 20.1432C12.8363 20.148 12.9155 20.1528 12.9973 20.1576L13.1199 20.1648L13.1169 20.1691L13.1123 20.172L13.1077 20.1865L13.1046 20.2009L13.0893 20.2038L13.0739 20.2081L13.0709 20.2124L13.0663 20.2153L13.0617 20.2182L13.0586 20.2225L13.0556 20.2269L13.0509 20.2297L13.0463 20.2326L13.0433 20.237L12.6907 20.4606C12.4557 20.6097 12.2809 20.7117 12.1665 20.7665C12.051 20.8223 11.8568 20.9069 11.584 21.0204C11.3101 21.133 11.0096 21.2301 10.6826 21.3119C10.3556 21.3936 10.072 21.4514 9.83183 21.485C9.59168 21.5187 9.35663 21.5403 9.12669 21.5499C8.89675 21.5596 8.6796 21.5596 8.4752 21.5499C8.27082 21.5403 8.14563 21.5331 8.09964 21.5283L8.03066 21.5211L8.01533 21.5168L8 21.5139V21.5427H8.00766L8.01228 21.5456L8.01533 21.5499L8.01839 21.5543L8.02299 21.5572L8.02761 21.56L8.03066 21.5644L8.04599 21.5716L8.06132 21.5788L8.06438 21.5831L8.06898 21.586L8.0736 21.5889L8.07665 21.5932L8.21461 21.6726C8.30658 21.7255 8.38936 21.7697 8.46294 21.8053C8.53755 21.8419 8.7215 21.9284 9.01479 22.065C9.30911 22.2026 9.66321 22.3387 10.0771 22.4734C10.491 22.608 10.8027 22.6994 11.0122 22.7475C11.2217 22.7956 11.5104 22.8437 11.8783 22.8918C12.2462 22.9399 12.4582 22.9663 12.5144 22.9711C12.5706 22.9759 12.6422 22.9808 12.729 22.9856L12.8593 22.9928V23H13.8557V22.9928L14.3999 22.9423C14.7627 22.9086 15.0872 22.8677 15.3733 22.8196C15.6595 22.7716 15.9558 22.7042 16.2624 22.6176C16.569 22.5311 16.8602 22.4373 17.1362 22.3363C17.4121 22.2353 17.6686 22.1256 17.9057 22.0073C18.1438 21.89 18.3472 21.7856 18.5158 21.6942C18.6844 21.6029 18.8694 21.4889 19.0707 21.3523C19.273 21.2147 19.4621 21.0772 19.6379 20.9396C19.8147 20.803 19.9148 20.7242 19.9383 20.703C19.9608 20.6809 20.0937 20.5558 20.3369 20.3279C20.5791 20.0989 20.7794 19.8931 20.9378 19.7103C21.0962 19.5276 21.252 19.3328 21.4053 19.126C21.5586 18.9192 21.7272 18.6667 21.9112 18.3685C22.0951 18.0703 22.2714 17.7336 22.44 17.3585C22.6087 16.9834 22.7517 16.5986 22.8693 16.2042C22.9868 15.8098 23.0737 15.4563 23.1298 15.1437C23.1861 14.8311 23.2244 14.5401 23.2448 14.2708C23.2653 14.0015 23.277 13.76 23.2801 13.5465C23.2821 13.332 23.3792 13.1512 23.5713 13.004C23.7624 12.8578 23.9576 12.6909 24.1569 12.5033C24.3562 12.3158 24.4645 12.2085 24.4819 12.1816C24.5003 12.1556 24.5146 12.1412 24.5248 12.1383C24.535 12.1364 24.604 12.0546 24.7317 11.893C24.8595 11.7324 24.9244 11.6506 24.9264 11.6477L24.931 11.6448L24.9387 11.6304L24.9463 11.616L24.951 11.6131L24.954 11.6088L24.9571 11.6044L24.9617 11.6016L24.9663 11.5987L24.9693 11.5943L24.9724 11.59L24.977 11.5871L24.9816 11.5842L24.9847 11.5799L24.9923 11.5756L25 11.5727V11.5438L24.9693 11.5467L24.9387 11.5511L24.9234 11.5583L24.908 11.5655L24.8927 11.5727L24.8774 11.5799L24.8544 11.5871L24.8084 11.6016L24.3945 11.7314C24.1339 11.8132 23.8605 11.8829 23.5744 11.9406L23.1452 12.0272H23.0685L23.0716 12.0229L23.0762 12.02L23.0808 12.0171L23.0839 12.0128L23.0869 12.0084L23.0915 12.0055L23.0961 12.0027L23.0992 11.9983L23.1145 11.9911L23.1298 11.9839L23.1329 11.9796L23.1375 11.9767L23.1421 11.9738L23.1452 11.9695L23.1605 11.9623L23.1758 11.955L23.2525 11.9074C23.3036 11.8766 23.347 11.843 23.3828 11.8064C23.4186 11.7708 23.4916 11.7083 23.602 11.6189C23.7113 11.5304 23.835 11.3996 23.9729 11.2264C24.1109 11.0533 24.2259 10.8825 24.3179 10.7142C24.4098 10.5459 24.4584 10.4497 24.4635 10.4256C24.4686 10.4016 24.4737 10.3824 24.4788 10.3679L24.4865 10.3463L24.4941 10.3319L24.5018 10.3174L24.5095 10.2958L24.5171 10.2741L24.5217 10.2525L24.5248 10.2309L24.5095 10.2337L24.4941 10.2381L24.4911 10.2424L24.4865 10.2453L24.4819 10.2482L24.4788 10.2525L24.4635 10.2597L24.4482 10.2669L24.4328 10.2741L24.4175 10.2814L24.4144 10.2857C24.4114 10.2876 24.3858 10.302 24.3378 10.329C24.2887 10.3549 24.1518 10.416 23.927 10.5122C23.7021 10.6084 23.4748 10.695 23.2448 10.7719C23.0149 10.8489 22.8003 10.909 22.601 10.9523C22.4017 10.9956 22.2551 10.9725 22.1611 10.883C22.066 10.7945 21.9587 10.7108 21.8391 10.632C21.7186 10.5521 21.5842 10.4737 21.436 10.3968C21.2878 10.3198 21.1345 10.2525 20.9761 10.1948C20.8177 10.1371 20.6414 10.0904 20.4473 10.0548L20.156 10H19.3589Z"
																	fill="white"
																/>
															</svg>
														</a>

														<a
															href="#"
															style="
																display: inline-block;
																margin: 0 5px;
															"
														>
															<svg
																xmlns="http://www.w3.org/2000/svg"
																width="32"
																height="32"
																viewBox="0 0 32 32"
																fill="none"
															>
																<path
																	fill-rule="evenodd"
																	clip-rule="evenodd"
																	d="M25.3519 28.3625C24.7933 28.5804 23.9533 28.8377 22.4071 28.908C21.3741 28.9558 20.7876 28.9797 19.491 28.9909V19.8771H22.4393L22.8807 16.3217H19.4909V14.0517C19.4909 13.0223 19.7661 12.3209 21.1874 12.3209L23 12.32V9.14008C22.6865 9.09683 21.6104 9 20.3587 9C17.7451 9 15.9559 10.6569 15.9559 13.6997V16.3217H13V19.8771H15.9559V28.9999H16.5278C16.3587 29 16.183 29 16.0004 29C11.7658 29 11.2636 28.9845 9.59215 28.908C8.04592 28.8377 7.20596 28.5804 6.64728 28.3625C5.90701 28.0743 5.37846 27.7312 4.82364 27.1764C4.26882 26.6215 3.92573 26.0938 3.6375 25.3535C3.42114 24.7948 3.16227 23.9549 3.09195 22.4086C3.01545 20.7357 3 20.2334 3 16.0004C3 11.7658 3.01545 11.2651 3.09195 9.59215C3.16227 8.04592 3.41959 7.20596 3.6375 6.64728C3.92573 5.90701 4.26805 5.37846 4.82364 4.82364C5.37923 4.26882 5.90701 3.92418 6.64728 3.6375C7.20751 3.42114 8.04592 3.16227 9.59215 3.09195C11.2651 3.017 11.7658 3 16.0004 3C20.2334 3 20.7357 3.01545 22.4079 3.09195C23.9541 3.16227 24.794 3.41959 25.3527 3.6375C26.0938 3.92418 26.6215 4.26882 27.1764 4.82364C27.7304 5.38 28.0743 5.90778 28.3625 6.64805C28.5789 7.20828 28.8377 8.04669 28.908 9.59292C28.983 11.2659 29 11.7666 29 16.0012C29 20.2357 28.9845 20.7372 28.9073 22.4086C28.837 23.9549 28.5796 24.7948 28.3617 25.3535C28.075 26.0938 27.7312 26.6215 27.1756 27.1764C26.62 27.7312 26.0922 28.0743 25.3519 28.3625Z"
																	fill="white"
																/>
															</svg>
														</a>
														<a
															href="#"
															style="
																display: inline-block;
																margin: 0 5px;
															"
														>
															<svg
																xmlns="http://www.w3.org/2000/svg"
																width="32"
																height="32"
																viewBox="0 0 32 32"
																fill="none"
															>
																<path
																	fill-rule="evenodd"
																	clip-rule="evenodd"
																	d="M25.3519 28.3625C24.7933 28.5804 23.9533 28.8377 22.4071 28.908C20.7357 28.9853 20.2334 29 16.0004 29C11.7658 29 11.2636 28.9845 9.59215 28.908C8.04592 28.8377 7.20596 28.5804 6.64728 28.3625C5.90701 28.0743 5.37846 27.7312 4.82364 27.1764C4.26882 26.6215 3.92573 26.0938 3.6375 25.3535C3.42114 24.7948 3.16227 23.9549 3.09195 22.4086C3.01545 20.7357 3 20.2334 3 16.0004C3 11.7658 3.01545 11.2651 3.09195 9.59215C3.16227 8.04592 3.41959 7.20596 3.6375 6.64728C3.92573 5.90701 4.26805 5.37846 4.82364 4.82364C5.37923 4.26882 5.90701 3.92418 6.64728 3.6375C7.20751 3.42114 8.04592 3.16227 9.59215 3.09195C11.2651 3.017 11.7658 3 16.0004 3C20.2334 3 20.7357 3.01545 22.4079 3.09195C23.9541 3.16227 24.794 3.41959 25.3527 3.6375C26.0938 3.92418 26.6215 4.26882 27.1764 4.82364C27.7304 5.38 28.0743 5.90778 28.3625 6.64805C28.5789 7.20828 28.8377 8.04669 28.908 9.59292C28.983 11.2659 29 11.7666 29 16.0012C29 20.2357 28.9845 20.7372 28.9073 22.4086C28.837 23.9549 28.5796 24.7948 28.3617 25.3535C28.075 26.0938 27.7312 26.6215 27.1756 27.1764C26.62 27.7312 26.0922 28.0743 25.3519 28.3625ZM8.54054 8.52525C8.18019 8.87541 8 9.31985 8 9.85859C8 10.3973 8.17503 10.8444 8.5251 11.2C8.87517 11.5556 9.33333 11.7333 9.89961 11.7333H9.91506C10.5019 11.7333 10.9756 11.5556 11.3359 11.2C11.686 10.8552 11.861 10.4242 11.861 9.90707C11.861 9.33602 11.6808 8.87273 11.3205 8.51717C10.9704 8.17238 10.5122 8 9.94595 8C9.36937 8 8.9009 8.17508 8.54054 8.52525ZM8.20077 13.204V24H11.6293V13.204H8.20077ZM16.9575 24H13.529C13.5495 20.7461 13.5598 18.2195 13.5598 16.4202C13.5598 14.6209 13.5495 13.5488 13.529 13.204H16.9575V14.7394L16.9421 14.7717H16.9575V14.7394C17.6988 13.5434 18.7336 12.9455 20.0618 12.9455C21.2458 12.9455 22.1982 13.3576 22.9189 14.1818C23.6396 15.0061 24 16.2155 24 17.8101V24H20.5714V18.2303C20.5714 16.6034 19.9949 15.7899 18.8417 15.7899C18.399 15.7899 18.0309 15.9165 17.7375 16.1697C17.444 16.4229 17.2252 16.7327 17.0811 17.099C16.9987 17.3037 16.9575 17.5946 16.9575 17.9717V24Z"
																	fill="white"
																/>
															</svg>
														</a>
														<a
															href="#"
															style="
																display: inline-block;
																margin: 0 5px;
																color: #ffffff;
															"
														>
															<svg
																xmlns="http://www.w3.org/2000/svg"
																width="32"
																height="32"
																viewBox="0 0 32 32"
																fill="none"
															>
																<path
																	d="M22.4071 28.908C23.9533 28.8377 24.7933 28.5804 25.3519 28.3625C26.0922 28.0743 26.62 27.7312 27.1756 27.1764C27.7312 26.6215 28.075 26.0938 28.3617 25.3535C28.5796 24.7948 28.837 23.9549 28.9073 22.4086C28.9845 20.7372 29 20.2357 29 16.0012C29 11.7666 28.983 11.2659 28.908 9.59292C28.8377 8.04669 28.5789 7.20828 28.3625 6.64805C28.0743 5.90778 27.7304 5.38 27.1764 4.82364C26.6215 4.26882 26.0938 3.92418 25.3527 3.6375C24.794 3.41959 23.9541 3.16227 22.4079 3.09195C20.7357 3.01545 20.2334 3 16.0004 3C11.7658 3 11.2651 3.017 9.59215 3.09195C8.04592 3.16227 7.20751 3.42114 6.64728 3.6375C5.90701 3.92418 5.37923 4.26882 4.82364 4.82364C4.26805 5.37846 3.92573 5.90701 3.6375 6.64728C3.41959 7.20596 3.16227 8.04592 3.09195 9.59215C3.01545 11.2651 3 11.7658 3 16.0004C3 20.2334 3.01545 20.7357 3.09195 22.4086C3.16227 23.9549 3.42114 24.7948 3.6375 25.3535C3.92573 26.0938 4.26882 26.6215 4.82364 27.1764C5.37846 27.7312 5.90701 28.0743 6.64728 28.3625C7.20596 28.5804 8.04592 28.8377 9.59215 28.908C11.2636 28.9845 11.7658 29 16.0004 29C20.2334 29 20.7357 28.9853 22.4071 28.908Z"
																	fill="white"
																/>
																<path
																	d="M19.1919 16.0553C19.1919 14.2772 17.7509 12.8354 15.9727 12.8354C14.1946 12.8354 12.7528 14.2772 12.7528 16.0553C12.7528 17.8335 14.1946 19.2753 15.9727 19.2753C17.7509 19.2753 19.1919 17.8335 19.1919 16.0553ZM20.9326 16.0553C20.9326 18.7947 18.7121 21.0152 15.9727 21.0152C13.2334 21.0152 11.0129 18.7947 11.0129 16.0553C11.0129 13.316 13.2334 11.0955 15.9727 11.0955C18.7121 11.0955 20.9325 13.3159 20.9325 16.0553H20.9326ZM11.9756 10.8989C11.9756 11.1281 11.9078 11.3522 11.7805 11.5429C11.6532 11.7336 11.4722 11.8822 11.2605 11.97C11.0487 12.0578 10.8156 12.0809 10.5908 12.0362C10.3659 11.9916 10.1594 11.8813 9.99719 11.7192C9.83502 11.5572 9.72455 11.3507 9.67973 11.1259C9.63492 10.9011 9.65778 10.668 9.74543 10.4562C9.83307 10.2443 9.98156 10.0633 10.1721 9.93582C10.3627 9.80838 10.5868 9.74032 10.816 9.74022H10.8165C11.1238 9.74037 11.4184 9.86247 11.6357 10.0797C11.8531 10.2969 11.9753 10.5916 11.9756 10.8989ZM19.875 23.9177C20.8167 23.8748 21.3286 23.718 21.6687 23.5854C22.1197 23.4099 22.4415 23.2008 22.7798 22.8629C23.1181 22.5251 23.3275 22.2036 23.5023 21.7527C23.6349 21.4127 23.7917 20.9007 23.8345 19.9589C23.8814 18.9408 23.8907 18.6349 23.8907 16.0555C23.8907 13.4761 23.8806 13.1711 23.8345 12.1521C23.7917 11.2103 23.6336 10.6993 23.5023 10.3583C23.3267 9.90736 23.1176 9.5856 22.7798 9.2473C22.4419 8.909 22.1205 8.69959 21.6687 8.5248C21.3287 8.3922 20.8167 8.23533 19.875 8.19253C18.8569 8.1457 18.551 8.13635 15.9727 8.13635C13.3944 8.13635 13.0883 8.14632 12.0693 8.19268C11.1276 8.23557 10.6166 8.39359 10.2756 8.52495C9.82459 8.69974 9.50283 8.90962 9.16453 9.24745C8.82623 9.58529 8.61759 9.90752 8.44202 10.3585C8.30942 10.6985 8.15256 11.2105 8.10975 12.1522C8.06292 13.1712 8.05357 13.4762 8.05357 16.0557C8.05357 18.6351 8.06292 18.9401 8.10975 19.9591C8.15264 20.9008 8.31027 21.4127 8.44202 21.7528C8.61759 22.2038 8.82669 22.5256 9.16453 22.8631C9.50236 23.2006 9.82459 23.41 10.2756 23.5856C10.6156 23.7182 11.1276 23.8751 12.0693 23.9179C13.0874 23.9647 13.3933 23.974 15.9727 23.974C18.5522 23.974 18.8572 23.9647 19.875 23.9179V23.9177ZM19.955 6.45474C20.9833 6.50156 21.6859 6.66461 22.2995 6.90338C22.9346 7.14996 23.473 7.48076 24.0106 8.0175C24.5482 8.55424 24.8781 9.09268 25.1247 9.72856C25.3635 10.3426 25.5265 11.0448 25.5733 12.0731C25.6209 13.103 25.6318 13.4322 25.6318 16.0553C25.6318 18.6785 25.6209 19.0077 25.5733 20.0376C25.5265 21.066 25.3635 21.7681 25.1247 22.3821C24.8781 23.0172 24.5481 23.5567 24.0106 24.0932C23.4731 24.6297 22.9354 24.96 22.2995 25.2073C21.6847 25.4461 20.9833 25.6091 19.955 25.656C18.9246 25.7028 18.5958 25.7145 15.9727 25.7145C13.3496 25.7145 13.0204 25.7036 11.9905 25.656C10.9621 25.6091 10.2599 25.4461 9.64593 25.2073C9.01083 24.96 8.47247 24.6299 7.93488 24.0932C7.39729 23.5565 7.06804 23.0172 6.82076 22.3821C6.58199 21.7681 6.41817 21.0659 6.37211 20.0376C6.32529 19.0069 6.31439 18.6785 6.31439 16.0553C6.31439 13.4322 6.32529 13.103 6.37211 12.0731C6.41894 11.0447 6.58199 10.3422 6.82076 9.72856C7.06804 9.09345 7.39814 8.55509 7.93488 8.0175C8.47162 7.47992 9.01083 7.14996 9.64516 6.90338C10.2599 6.66461 10.9622 6.50079 11.9897 6.45474C13.0197 6.40768 13.3488 6.39624 15.9716 6.39624C18.5943 6.39624 18.9242 6.40714 19.9546 6.45474"
																	fill="#3baf75"
																/>
															</svg>
														</a>
													</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tfoot>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>